<h1 id="member-count"> Nation Member Count: <%= @members.count %> </h1>

<div id="twenty-five-members">
  <h3 > Members Details </h3>
  <ul>
    <% @twenty_five_members.each do |member| %>
    <div id="member-<%= member[:_id] %>"> 
      <li> Name: <%= member[:name] %> </li>
        <img src="<%= member[:photoUrl] %>">
    </div>
    <% end %>
  </ul>
</div>


    